.animation1{
 background-color: crimson;  
 height: 100px; 
 width: 100px;
 animation-name: translate;
 animation-duration: 2s;
 animation-iteration-count: 10s;
 animation-direction: alternate;
 animation-timing-function: linear;
}

@keyframes translate {
   0%{
    transform: translate(0,0);
   }
   25%{
    transform: translate(340px,0); 
   }
   50%{
    transform: translate(300px,350px); background-color: darkseagreen;
   }
   75%{
    transform: translate(0,20px); rotate: 60deg;
   }
   100%{
    transform: translate(0,0);
   }
}
